{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
    <h1>Appointment index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.StartDate ? appointment.StartDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.EndDate ? appointment.EndDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.Comment }}</td>
                <td>
                    <a href="{{ path('appointment_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appointment_new') }}">Create new</a>
{% endblock %}
