{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>
	   <h1 class="jumbotron-heading">Client index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
    
                <th>{{ 'FirstName'|trans }}</th>
                <th>{{ 'LastName'|trans }} </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
         
                <td>{{ client.FirstName }}</td>
                <td>{{ client.LastName }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}"><i class="fas fa-2x fa-eye"></i></a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}"><i class="fas fa-2x fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
